@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 1024px) {
  body {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
